#error {
  /* background: linear-gradient(var(--secondary-color) 15%, rgb(170, 5, 5) 40%, transparent 95%); */
  width: 100%;
  min-height: 100vh;
  color: black;
  background-image: url(/src/img/backgrounds/BackError.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
}

.error-cover {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(20, 26, 31, 0.445);
}

.error-content {
  max-width: var(--width-page);
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 30px;
}

.error-content h2 {
  font-size: var(--text-8);
  color: red;
}

.error-content p {
  font-size: var(--text-4);
}

.btn-error,
.btn-error::after {
  padding: 16px 20px;
  font-size: 18px;
  background: linear-gradient(45deg, transparent 5%, rgb(170, 5, 5) 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px var(--background-text);
  outline: transparent;
  position: relative;
  cursor: pointer;
}

.btn-error::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "HOME";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    rgb(170, 5, 5) 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
  animation: 1s glitch alternate infinite;
  animation-timing-function: steps(2, end);
}

.btn-error:hover::after {
  animation-play-state: paused;
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
