#home {
  width: 100%;
  background-image: url(/src/img/backgrounds/bg_home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: -2;
}

#home::before {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 1);
  background: linear-gradient(180deg, transparent 5%, rgba(255, 255, 255) 100%);
}

.home-container,
.about-container,
.download-container {
  max-width: var(--width-page);
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.home-container {
  min-height: 95vh;
  padding: 0 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.home-title {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
  gap: 10px;
}

.home-title span {
  color: var(--secondary-color);
  font-size: var(--text-3);
}

.home-title img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

#about {
  width: 100%;
  height: 80vh;
  position: relative;
  background-image: url(/src/img/backgrounds/bg_about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: var(--primary-color);
  position: sticky;
  top: 0;
}

.about-container {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  padding: 10px;
  gap: 15px;
}

.chibi {
  position: absolute;
  max-width: 250px;
  height: auto;
  z-index: 1;
}

.chibi img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.gabi {
  top: -50px;
  left: -50px;
}

.about-container > * {
  width: 50%;
}

.text {
  flex-shrink: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 15px;
  min-height: 200px;
  z-index: 2;
}

.text span {
  font-size: var(--text-2);
}

.text h2 {
  font-size: var(--text-7);
  color: var(--optional-color);
}

.text p {
  font-size: var(--text-2);
  font-weight: 200;
}

#download {
  width: 100%;
  min-height: 100vh;
  background: #181c27 url(/src/img/backgrounds/bg_footer.png) 0 0 no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: var(--secondary-color);
  position: relative;
}

/* #download::before {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  top: -63px;
  z-index: 10;
  display: block;
  height: 10vh;
  background-size: 60px 100%;
  background-image: linear-gradient(135deg, #181c27 25%, transparent 25%),
    linear-gradient(225deg, #181c27 25%, transparent 25%);
  background-position: 0 0;
  transform: rotate(180deg);
} */

.download-container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
}
.download-container > * {
  width: 50%;
}

.icon-download {
  flex-shrink: 2;
  padding: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.icon-download span {
  font-size: var(--text-2);
  text-align: center;
}

.icon-download h3 {
  font-size: var(--text-7);
  text-align: center;
  color: var(--optional-color);
}

.service-download {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.service-download a {
  color: white;
  text-decoration: none;
}

.service-download span {
  font-size: var(--text-0);
}

.service-download h4 {
  font-size: var(--text-3);
  font-weight: 400;
}

.android,
.apple {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  width: 215px;
  border: 3px solid transparent;
}

.android:hover,
.apple:hover {
  border: 3px solid var(--optional-color);
}

.android img {
  width: 30px;
  height: 30px;
}

.img-download img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  filter: drop-shadow(-120px 70px 120px rgb(255, 242, 168));
}

@media screen and (max-width: 950px) {
  .about-container {
    flex-flow: column nowrap;
    padding: 0;
  }

  #download::before {
    padding-top: 50px;
  }

  .text {
    order: -1;
    width: 100%;
  }

  .video-container {
    width: 80%;
  }

  .video-container iframe {
    height: 300px;
  }
}

@media screen and (max-width: 690px) {
  .download-container {
    flex-flow: column nowrap;
    padding-top: 35px;
  }

  .download-container > * {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .video-container iframe {
    height: 300px;
  }
}

@media screen and (max-width: 470px) {
  .video-container {
    width: 100%;
  }
  .video-container iframe {
    height: 200px;
  }

  #download::before {
    padding-top: 0;
  }
}
