.details small {
  font-size: var(--text-1);
  color: var(--optional-color);
  font-weight: 200;
}

.details h3 {
  font-size: var(--text-6);
}

.details li {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.element,
.role {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
