.loaderContainer {
  background-color: rgba(0, 0, 0, 0.808);
  border-radius: 35% 65% 26% 74% / 56% 36% 64% 44%;
  padding: 15px;
  width: 180px;
  height: 180px;
  display: inline-block;
  animation: loading 0.5s ease-in alternate infinite both;
}

@keyframes loading {
  0% {
    border-radius: 35% 65% 26% 74% / 56% 36% 64% 44%;
  }
  100% {
    border-radius: 87% 13% 80% 20% / 32% 81% 19% 68%;
  }
}
